$width: 500px;
$height: 250px;

.container_1{
  height: $height;
  width: $width;
  background-color: red;
}
.container_2{
  height: $height;
  width: $width;
  background-color: yellow;

}
.container_3{
  height: $height;
  width: $width;
  background-color: blue;

}
