$height: 100%;
$width: 100%;

h1,h2,h3,h4,h5,h6,p,span,a {
  color: azure;
}

.cv {
  background-color: red;
  height: $height;
  width: $width;
}

.about_me {
  background-color: #121287;
  height: $height;
  width: $width;
  text-align: center;
}

.portfolio {
  background-color: blue;
  height: $height;
  width: $width;
}

.selfie {
  width: 300px;
  height: 150px;
}
.socialMediaLinks{
  color: azure;
}
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
