.contact_info{
  margin-top: 5%;
}

.links{
  color: azure;
}

.links:hover{
  color:purple;
}

.secretText{
 font-style: italic;
 display: none;
}

.github{
  color: #24292e;
}

.linkedIn{
  color: #0077b5;
}

.mail{
  color: #eb9c12;
}

.about_me {
  background-color: #121287;
  text-align: center;
}

.selfie {
  margin-top: 4%;
  width: 300px;
  height: 150px;
}
