@import "../../node_modules/bootstrap/scss/bootstrap";
/*
Theming for bootstrap classes to modify looks
and adjust them to meet WCAG demands.
 */

h1,h2,h3,h4,h5,h6,p,li,a,{
  line-height: 1.5;
  font-size: 1.5em;
}
.btn{
  font-size: 1.2em;
}
.display-3{
  line-height: 1.5;
  font-size: 4.5em;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #1b36d1;
  background-color: #d1b91b;
}

.card-text,
.card-title {
  color: black;
}

.card {
  border: solid 2px white;
  width: 18em;
  margin: 0 auto 10%;
  margin-top: 10%;
}

.card-img-top {
  height: 13em;
}
