$font-color: azure;
$em-unit: 1.5em;
$line-height: 1.5;
@import "../../node_modules/bootstrap/scss/bootstrap";
/*
Theming for bootstrap classes to modify looks
and adjust them to meet WCAG demands.
 */

h1,h2,h3,h4,h5,h6,p,li,a,span{
  line-height: $line-height;
  font-size: $em-unit;
  color: $font-color
}
.btn{
  font-size: $em-unit - 0.3em;
}
.display-3{
  line-height: $line-height;
  font-size: 3*$em-unit;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #1b36d1;
  background-color: #d1b91b;
}

.card-text,
.card-title {
  color: black;
}

.card {
  border: solid 2px white;
  width: 18em;
  margin: 0 auto 10%;
  margin-top: 10%;
}

.card-img-top {
  height: 13em;
}
.nav-item a{
  color: blue;
}

.dropdown-menu{
  font-size: 1.5em;
  width: 100%;
}
