@import "../node_modules/bootstrap/scss/bootstrap"; //Custom bootstrap theming.
p{
  font-size: 1.5em;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #1b36d1;
  background-color: #d1b91b;
}

a {
  color: #1b36d1;
}

.card-text,
.card-title {
  color: black;
}

.card {
  width: 18em;
  margin: 0 auto 10%;
  margin-top: 10%;
}

.card-img-top {
  height: 13em;
}
